<template>
    <div class="container location_finder-container">
      <h1 class="my-4">{{ title }}</h1>
      <div class="location_finder-inner">
        <div class="location_finder-left d-flex flex-column">
          <details class="location_finder-card px-3 py-4">
            <summary>{{ $t('search') }}</summary>
            <h5 class="pb-3">
              {{ subtitle }}
            </h5>
            <div class="location_finder-form">
              <div class="form-group">
                <label for="id_regions">{{ $t('select-region') }}</label>

                <div class="input-region" v-click-out-side="onSelectorOutsideClick">
                  <div class="input-placeholder" @click.prevent="toggleSelector">
                    <template v-if="form.region">{{ form.region.name }}</template>
                    <template v-else>{{ $t('all') }}</template>
                    <div class="input-region-icon">
                      <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7L7 13L13 7" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                  </div>
                  <div class="selector" v-if="selector.isOpen">
                    <input
                      name="regionQuery"
                      v-model="selector.query"
                      type="text"
                      class="form-control dropdown-toggle"
                      :placeholder="$t('start-typing')"
                      id="id_regionQuery"
                      ref="regionQuery"
                    >
                    <div class="selector-results">
                      <div
                        v-for="(option, index) in selector.results"
                        :key="index"
                        class="selector-results-item"
                        :class="{ active: selector.current === option, region: option.isRegion }"
                        @click="selectRegion(option)"
                      >
                        {{ option.name }}
                      </div>
                      <div
                        v-if="selector.results.length === 0"
                        class="selector-results-item"
                      >
                        {{ $t('no-results-matching-query') }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group input-search">
                <label for="id_search">{{ $t('search') }}</label>
                <div class="input-group input-search">
                  <input
                    name="query"
                    v-model="form.query"
                    type="text"
                    class="form-control dropdown-toggle"
                    :placeholder="$t('town-street-etc')"
                    id="id_search"
                  >
                  <div class="search-icon">
                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.22222 15.4444C10.6587 15.4444 13.4444 12.6587 13.4444 9.22222C13.4444 5.78578 10.6587 3 7.22222 3C3.78578 3 1 5.78578 1 9.22222C1 12.6587 3.78578 15.4444 7.22222 15.4444Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 17.0001L11.6166 13.6168" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              </div>

              <div v-if="checkbox_filters.length" class="form-group checkbox-filters">
                <label>{{ $t('Filters') }}</label>
                  <div v-for="(filter, index) in checkbox_filters" :key="index" class="form-check checkbox-filter">
                    <input
                      type="checkbox"
                      :id="'checkbox-' + index"
                      :value="filter"
                      v-model="form.selectedFilters"
                      class="form-check-input"
                    >
                    <label :for="'checkbox-' + index" class="form-check-label">{{ filter }}</label>
                  </div>
                </div>
              </div>
            <div>
              <a href="#" class="btn btn-sm btn-outline-primary" v-if="form.query || form.region" @click.prevent="clearAll">{{ $t('clear-all') }}</a>
            </div>
          </details>
          <div class="location_finder-card location_finder-list flex-fill no-border-top d-none d-md-block">
            <div
              v-for="(location, index) in results"
              :key="index"
              class="location_finder-list-item px-3 py-3"
              :class="{ active: current === location }"
              @click="selectLocation(location)"
            >
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <strong>{{ location.name }}</strong>
                    <p class="mb-0">
                        <span v-if="location.county && location.district">
                            {{ location.county }}, {{ location.district }}
                        </span>
                        <span v-else-if="location.city">
                            {{ location.city }}
                        </span>
                        <span v-else>
                            {{ location.county || location.district }}
                        </span>
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5H17" stroke="var(--primary-base, 1)" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13 1L17 5L13 9" stroke="var(--primary-base, 1)" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div
              v-if="results.length === 0 && form.query"
              class="location_finder-list-no-results px-3 py-3"
            >
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    {{ $t('no-items-found') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="location_finder-right d-flex">
          <div class="location_finder-card flex-fill" id="location_finder-map">
          </div>
          <div class="location_finder-sidebar" v-if="selected">
            <div class="location_finder-close-button">
              <img src="/static/location_finder/close.png" @click="closeSidebar">
            </div>

            <div class="p-4">
              <h3 class="h5 text-black text-strong">{{ selected.name }}</h3>
              <template v-if="selected.image">
                <p class="location_finder-location_image">
                  <img :src="selected.image" class="img-fluid" alt="Location image" />
                </p>
                <hr />
              </template>
              <template v-if="selected.address || selected.postal_code || selected.city">
                <p>
                  {{ selected.address }}
                  <br v-if="selected.address && (selected.postal_code || selected.city)" />
                  {{ selected.postal_code }} {{ selected.city }}
                </p>
                <hr />
              </template>
              <template v-for="(value, key) in selected.sidebar_attributes" :key="key">
                <p v-if="key && value" class="attribute-other">
                  <!-- Render URLs as links using attribute name (key) -->
                  <template v-if="key.toLowerCase() === 'website' || value.toLowerCase().startsWith('http') || value.toLowerCase().startsWith('www.')">
                    <a :href="value.startsWith('http://') || value.startsWith('https://') ? value : 'https://' + value" target="_blank">{{ key }}</a>
                  </template>
                  <!-- Render everything else as plain text -->
                  <template v-else>{{ value }}</template>
                </p>
                <hr v-if="key && value" />
              </template>
            </div>
          </div>
          <div class="location_finder-mobile-underlay" v-if="selected"></div>
        </div>

      </div>

      <div class="mobile-result-summary d-md-none" v-if="results.length > 0">
        <div>
          {{ results.length }} {{ $t('locations-found') }}
        </div>
        <div>
          <button class="location_finder-button" @click.prevent="toggleMobileResults">
            {{ $t('view-list') }}
            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5H17" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 1L17 5L13 9" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="mobile-result d-md-none" v-if="showMobileResults">
        <div class="mobile-result-header">
          <h5>
            {{ results.length }} {{ $t('locations') }}
          </h5>
          <div class="location_finder-close-button">
            <img src="/static/location_finder/close.png" @click="toggleMobileResults">
          </div>

          <dl>
            <dt>{{ $t('region') }}:</dt>
            <dd>
              <span v-if="form.region">{{ form.region.name }}</span>
              <span v-else>{{ $t('all') }}</span>
            </dd>
          </dl>

          <dl>
            <dt>{{ $t('search-term') }}:</dt>
            <dd>
              <span v-if="form.query">&quot;{{ form.query }}&quot;</span>
            </dd>
          </dl>
        </div>
        <div
          v-for="(location, index) in results"
          :key="index"
          class="mobile-result-list-item px-3 py-3"
          :class="{ active: current === location }"
          @click="selectLocation(location)"
        >
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="d-flex flex-column">
                <strong>{{ location.name }}</strong>
                <p class="mb-0">{{ location.county }}, {{ location.district }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5H17" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13 1L17 5L13 9" stroke="#E4001A" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>

<style scoped>
    @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
</style>

<script lang="javascript">
import { latLng, icon } from "leaflet"
import L from "leaflet"

import './wise-leaflet-pip'
import 'leaflet.markercluster/dist/leaflet.markercluster.js'

import clickOutSide from "@mahdikhashan/vue3-click-outside"

import regions from "./regions.geo.json"
import counties from "./counties.geo.json"

import "leaflet/dist/leaflet.css"

export default {
  name: "App",

  directives: {
    clickOutSide
  },

  data: () => ({
    title: "Location Finder",
    subtitle: "Find local history and tourist offices",
    showRegionBorders: true,
    showRegionNames: true,
    map: null,
    geojsonRegions: null,
    geojson: null,
    markerGroup: null,
    tooltips: [],
    showingRegions: true,
    url: 'https://www.lwl.org/osmlwlde/tiles/{z}/{x}/{y}.png',
    attribution:
    '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    zoom: 9,
    center: [51.9625101, 7.6251879],
    icon: icon({
      iconUrl: "/static/location_finder/marker.png",
      iconSize: [32, 37],
      iconAnchor: [16, 37]
    }),
    iconSelected: icon({
      iconUrl: "/static/location_finder/markerSelected.png",
      iconSize: [32, 37],
      iconAnchor: [16, 37]
    }),
    searchTimer: null,
    selector: {
      isOpen: false,
      query: null,
      results: []
    },
    options: {
      regions: [],
    },
    form: {
      region: null,
      query: null,
      selectedFilters: [],
    },
    oldQuery: null,
    results: [],
    current: null,
    selected: null,
    locations: [],
    showMobileResults: false,
    checkbox_filters: [],
  }),

  mounted() {
    // set labels
    this.title = this.$el.parentElement.getAttribute('data-title')
    this.subtitle = this.$el.parentElement.getAttribute('data-subtitle')
    this.checkbox_filters = JSON.parse(this.$el.parentElement.getAttribute('data-checkbox-filters'));

    this.showRegionBorders = this.$el.parentElement.hasAttribute('data-show-district-borders')
    this.showRegionNames = this.$el.parentElement.hasAttribute('data-show-district-names')
    this.includeDistrictLippe = this.$el.parentElement.hasAttribute('data-include-district-lippe')
    if (this.includeDistrictLippe) {
        counties.features.push(
            { "type": "Feature", "id": 266, "properties": { "ID_0": 86, "ISO": "DEU", "NAME_0": "Germany", "ID_1": 10, "NAME_1": "Nordrhein-Westfalen", "ID_2": 25, "NAME_2": "Detmold", "ID_3": 267, "NAME_3": "Lippe", "NL_NAME_3": null, "VARNAME_3": null, "TYPE_3": "Landkreise", "ENGTYPE_3": "Rural district" }, "geometry": { "type": "Polygon", "coordinates": [ [ [ 8.993539810180721, 52.187740325927734 ], [ 9.01867866516119, 52.169502258300781 ], [ 9.020539283752441, 52.13224029541027 ], [ 9.074229240417537, 52.148021697998047 ], [ 9.160108566284237, 52.123271942138672 ], [ 9.137360572815055, 52.093070983886776 ], [ 9.149080276489258, 52.100719451904297 ], [ 9.192729949951229, 52.071559906005859 ], [ 9.175160408020076, 52.060100555419922 ], [ 9.176400184631404, 52.034011840820426 ], [ 9.201719284057674, 52.00828933715826 ], [ 9.184029579162654, 52.000572204589901 ], [ 9.202249526977653, 51.997108459472713 ], [ 9.179109573364315, 51.978118896484489 ], [ 9.210079193115291, 51.959949493408203 ], [ 9.233378410339469, 51.975212097168026 ], [ 9.281768798828068, 51.968471527099723 ], [ 9.288439750671444, 51.953651428222713 ], [ 9.264788627624569, 51.945850372314453 ], [ 9.282950401306152, 51.942390441894588 ], [ 9.27766036987299, 51.927391052246207 ], [ 9.332049369812012, 51.916999816894588 ], [ 9.350978851318359, 51.894889831543026 ], [ 9.341150283813477, 51.853740692138672 ], [ 9.293749809265194, 51.849349975586051 ], [ 9.274958610534782, 51.863990783691463 ], [ 9.209978103637695, 51.851871490478572 ], [ 9.160759925842342, 51.873489379882812 ], [ 9.143269538879395, 51.865791320800895 ], [ 9.130368232727108, 51.880489349365291 ], [ 9.140819549560604, 51.906730651855526 ], [ 9.128608703613224, 51.910270690917969 ], [ 9.064908981323242, 51.872058868408203 ], [ 9.016648292541618, 51.875049591064567 ], [ 9.023880004882926, 51.856540679931754 ], [ 8.995138168335018, 51.837509155273494 ], [ 8.959109306335392, 51.836959838867301 ], [ 8.962618827819824, 51.788700103759766 ], [ 8.955780029296989, 51.799732208251953 ], [ 8.938299179077205, 51.792030334472656 ], [ 8.924908638000545, 51.810409545898494 ], [ 8.799278259277344, 51.797302246093864 ], [ 8.77384090423584, 51.81547927856451 ], [ 8.765458106994743, 51.848812103271541 ], [ 8.688349723815975, 51.918239593505916 ], [ 8.615199089050407, 51.92821121215826 ], [ 8.654568672180119, 51.973510742187557 ], [ 8.664109230041561, 52.014621734619254 ], [ 8.645078659057617, 52.029201507568359 ], [ 8.662759780883789, 52.036941528320312 ], [ 8.667908668518123, 52.051921844482422 ], [ 8.655150413513297, 52.062870025634822 ], [ 8.672418594360295, 52.078071594238395 ], [ 8.66593074798584, 52.085411071777344 ], [ 8.720149040222168, 52.090042114257869 ], [ 8.725129127502498, 52.108760833740234 ], [ 8.748708724975643, 52.120330810546932 ], [ 8.809009552002067, 52.12506103515625 ], [ 8.834229469299373, 52.106842041015739 ], [ 8.876759529113713, 52.103820800781364 ], [ 8.905810356140194, 52.126659393310547 ], [ 8.893118858337459, 52.137630462646541 ], [ 8.905030250549373, 52.141559600830078 ], [ 8.903669357299918, 52.167629241943473 ], [ 8.932988166809196, 52.186759948730582 ], [ 8.993539810180721, 52.187740325927734 ] ] ] } }
        )
        regions.features.push(
            { "type": "Feature", "id": 24, "properties": { "ID_0": 86, "ISO": "DEU", "NAME_0": "Germany", "ID_1": 10, "NAME_1": "Nordrhein-Westfalen", "ID_2": 25, "NAME_2": "Detmold", "NL_NAME_2": null, "VARNAME_2": null, "TYPE_2": "Regierungsbezirk", "ENGTYPE_2": "Administrative Region" }, "geometry": { "type": "Polygon", "coordinates": [ [ [ 8.666278839111385, 52.52527999877924 ], [ 8.672769546508903, 52.517951965332031 ], [ 8.691048622131632, 52.518280029296989 ], [ 8.685148239135742, 52.514450073242301 ], [ 8.704008102417163, 52.503601074218864 ], [ 8.697919845581055, 52.50347900390625 ], [ 8.704198837280444, 52.499881744384879 ], [ 8.698689460754395, 52.488590240478572 ], [ 8.711459159851131, 52.477642059326342 ], [ 8.707320213317871, 52.440280914306697 ], [ 8.720260620117358, 52.425579071044922 ], [ 8.708099365234375, 52.425369262695426 ], [ 8.709649085998535, 52.395568847656307 ], [ 8.715918540954817, 52.391941070556754 ], [ 8.727490425109863, 52.403331756591854 ], [ 8.740420341491927, 52.388641357421875 ], [ 8.788468360900936, 52.400650024414062 ], [ 8.855890274047965, 52.390602111816463 ], [ 8.867668151855582, 52.398262023926009 ], [ 8.892160415649585, 52.394939422607479 ], [ 8.897688865661848, 52.406230926513786 ], [ 8.940418243408317, 52.40320968627924 ], [ 8.934160232543945, 52.406841278076172 ], [ 8.964010238647461, 52.418529510498047 ], [ 8.963648796081827, 52.425991058349666 ], [ 8.981888771057186, 52.426288604736271 ], [ 8.986899375915698, 52.448760986328125 ], [ 8.980640411377237, 52.452388763427848 ], [ 9.010870933532829, 52.456630706787109 ], [ 9.021979331970385, 52.479198455810604 ], [ 9.046150207519588, 52.483341217041016 ], [ 9.051368713378849, 52.502090454101676 ], [ 9.094149589538517, 52.499069213867188 ], [ 9.137780189514103, 52.477390289306754 ], [ 9.125609397888411, 52.477191925049112 ], [ 9.125948905944881, 52.469730377197379 ], [ 9.102117538452148, 52.45814132690424 ], [ 9.096728324890364, 52.443119049072436 ], [ 9.115658760071028, 52.428508758544979 ], [ 9.103499412536848, 52.428310394287166 ], [ 9.109919548034725, 52.420951843261946 ], [ 9.121908187866381, 52.424880981445312 ], [ 9.128499031067179, 52.413799285888899 ], [ 9.117198944091854, 52.394939422607479 ], [ 9.099309921264705, 52.387191772461165 ], [ 9.100009918212947, 52.372268676757812 ], [ 9.088030815124625, 52.368339538574332 ], [ 9.08855056762718, 52.357158660888899 ], [ 9.058718681335449, 52.345470428466797 ], [ 9.05906963348383, 52.338020324707145 ], [ 9.028349876404036, 52.344982147216911 ], [ 9.028710365295581, 52.337520599365291 ], [ 8.998899459838867, 52.325851440429801 ], [ 8.987480163574389, 52.310729980468807 ], [ 8.993728637695426, 52.307102203369141 ], [ 8.982869148254395, 52.280811309814453 ], [ 8.964668273926009, 52.280509948730469 ], [ 8.977169036865291, 52.273262023925781 ], [ 8.971660614013729, 52.261981964111555 ], [ 9.008219718933333, 52.258850097656307 ], [ 9.008588790893498, 52.251388549804915 ], [ 9.076158523559855, 52.23384094238304 ], [ 9.052640914916935, 52.218540191650504 ], [ 9.046219825744743, 52.225891113281364 ], [ 9.040340423584269, 52.222068786621207 ], [ 9.048390388489054, 52.181171417236612 ], [ 9.024179458618164, 52.180778503417969 ], [ 9.017389297485408, 52.195590972900618 ], [ 9.011699676513729, 52.188041687011776 ], [ 8.987109184265421, 52.195098876953182 ], [ 9.01867866516136, 52.169502258300781 ], [ 9.014309883117846, 52.135871887207315 ], [ 9.044541358947924, 52.136360168457088 ], [ 9.044169425964469, 52.14381027221674 ], [ 9.074229240417537, 52.148021697998047 ], [ 9.111408233642578, 52.129959106445597 ], [ 9.123139381408691, 52.137599945068416 ], [ 9.14749813079851, 52.134262084960994 ], [ 9.160108566284407, 52.123271942138672 ], [ 9.160628318786564, 52.112079620361385 ], [ 9.136840820312671, 52.104251861572322 ], [ 9.137360572815226, 52.093070983886946 ], [ 9.149080276489428, 52.100719451904297 ], [ 9.155648231506404, 52.089630126953182 ], [ 9.179968833923567, 52.08628082275419 ], [ 9.192729949951229, 52.071559906005859 ], [ 9.175160408020247, 52.060100555419922 ], [ 9.17603969574003, 52.041461944580135 ], [ 9.182069778442326, 52.041561126709098 ], [ 9.176400184631575, 52.034011840820426 ], [ 9.194820404052791, 52.026828765869254 ], [ 9.201719284057674, 52.00828933715843 ], [ 9.189678192138729, 52.008110046386719 ], [ 9.184029579162825, 52.000572204590071 ], [ 9.202249526977653, 51.997108459472713 ], [ 9.178920745849609, 51.981849670410213 ], [ 9.191859245300293, 51.963401794433651 ], [ 9.210079193115291, 51.959949493408203 ], [ 9.233378410339469, 51.975212097168196 ], [ 9.269420623779581, 51.975749969482706 ], [ 9.281768798828068, 51.968471527099723 ], [ 9.275930404663143, 51.964660644531421 ], [ 9.288439750671444, 51.953651428222884 ], [ 9.264788627624569, 51.945850372314453 ], [ 9.282950401306152, 51.942390441894759 ], [ 9.27766036987299, 51.927391052246207 ], [ 9.296150207519759, 51.916481018066463 ], [ 9.332049369812012, 51.916999816894588 ], [ 9.350978851318359, 51.894889831543026 ], [ 9.34589862823492, 51.876178741455192 ], [ 9.339939117431868, 51.876091003418253 ], [ 9.346078872680778, 51.872451782226676 ], [ 9.341150283813647, 51.853740692138672 ], [ 9.358569145202637, 51.8614501953125 ], [ 9.465918540954647, 51.855468750000114 ], [ 9.437099456787223, 51.840221405029297 ], [ 9.44408035278343, 51.821899414062614 ], [ 9.432587623596248, 51.818000793457031 ], [ 9.433170318603516, 51.806961059570369 ], [ 9.451158523559684, 51.79259109497076 ], [ 9.417329788208235, 51.773521423339844 ], [ 9.400829315185831, 51.754791259765739 ], [ 9.388999938964844, 51.758239746093693 ], [ 9.383939743042106, 51.743419647216911 ], [ 9.384309768676758, 51.736049652099609 ], [ 9.401949882507608, 51.729049682617131 ], [ 9.390910148620719, 51.717788696289176 ], [ 9.408979415893555, 51.699748992920036 ], [ 9.392010688781738, 51.692039489746207 ], [ 9.404309272766227, 51.673889160156364 ], [ 9.387350082397745, 51.666191101074276 ], [ 9.382368087768612, 51.647689819335994 ], [ 9.422849655151481, 51.644821166992244 ], [ 9.445638656616438, 51.652622222900504 ], [ 9.451740264892635, 51.645381927490348 ], [ 9.435020446777571, 51.630340576171932 ], [ 9.377558708191032, 51.625511169433594 ], [ 9.377868652343864, 51.618148803711165 ], [ 9.343469619750977, 51.613761901855696 ], [ 9.378959655761776, 51.592361450195312 ], [ 9.345467567443961, 51.565830230713004 ], [ 9.345768928527946, 51.558448791504134 ], [ 9.328647613525391, 51.554401397705192 ], [ 9.329099655151595, 51.543319702148438 ], [ 9.31803035736084, 51.531978607177905 ], [ 9.323798179626692, 51.532112121582088 ], [ 9.318779945373649, 51.513488769531364 ], [ 9.284218788147257, 51.512779235839844 ], [ 9.273300170898494, 51.497741699218921 ], [ 9.239040374756087, 51.489631652832145 ], [ 9.228690147400016, 51.459732055664006 ], [ 9.199599266052246, 51.466579437255916 ], [ 9.188220024109057, 51.462638854980469 ], [ 9.177348136902026, 51.443840026855526 ], [ 9.160169601440714, 51.439788818359432 ], [ 9.154019355773983, 51.450820922851733 ], [ 9.113858222961369, 51.442600250244197 ], [ 9.095959663391113, 51.460868835449332 ], [ 9.11237907409685, 51.487201690674055 ], [ 9.10620021820074, 51.498218536377124 ], [ 9.060009002685661, 51.501091003418082 ], [ 9.041880607605094, 51.519298553466911 ], [ 8.990830421447811, 51.503601074218693 ], [ 8.972328186035213, 51.506980895996207 ], [ 8.908309936523381, 51.531879425048942 ], [ 8.912788391113509, 51.546810150146428 ], [ 8.863919258117733, 51.545989990234375 ], [ 8.864668846130371, 51.538570404052848 ], [ 8.834018707275334, 51.53804016113304 ], [ 8.834689140319881, 51.530601501465071 ], [ 8.822408676147575, 51.530380249023494 ], [ 8.855210304260481, 51.504829406738338 ], [ 8.855998992919922, 51.49362945556652 ], [ 8.837760925293139, 51.489551544189567 ], [ 8.814409255981673, 51.470420837402287 ], [ 8.809300422668457, 51.45537185668951 ], [ 8.791329383850154, 51.44755935668951 ], [ 8.765858650207576, 51.458301544189396 ], [ 8.765330314636174, 51.465782165527457 ], [ 8.735019683837834, 51.457740783691634 ], [ 8.671749114990234, 51.479000091552962 ], [ 8.603718757629622, 51.481380462646428 ], [ 8.58578014373785, 51.473529815673942 ], [ 8.586309432983342, 51.466060638427791 ], [ 8.555538177490178, 51.465412139892749 ], [ 8.529349327087402, 51.487281799316463 ], [ 8.514399528503645, 51.524360656738395 ], [ 8.520279884338606, 51.528221130371094 ], [ 8.495709419250659, 51.527698516845817 ], [ 8.474918365478516, 51.560859680175781 ], [ 8.486920356750659, 51.564861297607479 ], [ 8.479998588561955, 51.575908660888899 ], [ 8.498149871826342, 51.580059051513672 ], [ 8.49149036407465, 51.587379455566406 ], [ 8.516319274902457, 51.584228515625114 ], [ 8.509919166565112, 51.587810516357365 ], [ 8.515539169311467, 51.595420837402401 ], [ 8.545989036560115, 51.599868774414176 ], [ 8.587698936462402, 51.619529724121207 ], [ 8.5940904617309, 51.615928649902628 ], [ 8.578889846801815, 51.660140991211051 ], [ 8.485690116882438, 51.684421539306868 ], [ 8.49141883850092, 51.691978454589901 ], [ 8.472468376159725, 51.702781677246264 ], [ 8.484078407287654, 51.71416091918951 ], [ 8.471879959106502, 51.713939666748217 ], [ 8.465180397033748, 51.724971771240234 ], [ 8.44108867645258, 51.717048645019531 ], [ 8.385170936584643, 51.715770721435661 ], [ 8.315879821777287, 51.729019165039176 ], [ 8.30348014831543, 51.739971160888786 ], [ 8.303059577942065, 51.754989624023381 ], [ 8.290940284729174, 51.754669189453125 ], [ 8.290710449218693, 51.762180328369141 ], [ 8.254119873047046, 51.776222229003906 ], [ 8.259079933166447, 51.80266189575201 ], [ 8.24064826965332, 51.809638977051009 ], [ 8.234029769897631, 51.824489593505973 ], [ 8.20374870300293, 51.827308654785156 ], [ 8.209248542785645, 51.838760375976562 ], [ 8.221489906310978, 51.835391998290959 ], [ 8.215288162231445, 51.838951110839844 ], [ 8.221068382263127, 51.846660614013672 ], [ 8.202129364013842, 51.864871978759993 ], [ 8.183979988098429, 51.864261627197322 ], [ 8.177089691162394, 51.882839202880973 ], [ 8.158598899841536, 51.88970947265625 ], [ 8.164149284362963, 51.90119934082054 ], [ 8.152199745178279, 51.896999359130803 ], [ 8.175918579101733, 51.912929534912337 ], [ 8.169388771057413, 51.92401123046875 ], [ 8.17542934417753, 51.928001403808594 ], [ 8.112910270691145, 51.955669403076229 ], [ 8.118048667907829, 51.978500366211051 ], [ 8.1112709045413, 51.993289947509879 ], [ 8.117248535156307, 52.001152038574446 ], [ 8.092378616333121, 51.99993896484375 ], [ 8.07947921752924, 52.010631561279411 ], [ 8.103867530822754, 52.061519622802962 ], [ 8.160220146179427, 52.077098846435717 ], [ 8.196008682250977, 52.073909759521712 ], [ 8.2119789123538, 52.100170135498047 ], [ 8.246459960937443, 52.123062133789176 ], [ 8.264529228210449, 52.123359680175781 ], [ 8.269809722900504, 52.134609222412223 ], [ 8.287908554077205, 52.134922027587947 ], [ 8.312999725341797, 52.120449066162337 ], [ 8.324588775634936, 52.128089904785156 ], [ 8.374038696289176, 52.110309600830135 ], [ 8.404229164123478, 52.110820770263672 ], [ 8.410040855407999, 52.11463928222679 ], [ 8.403068542480639, 52.129409790039006 ], [ 8.414460182189998, 52.140769958496321 ], [ 8.449821472167969, 52.156269073486328 ], [ 8.485878944397143, 52.160610198974609 ], [ 8.520669937134016, 52.187278747558651 ], [ 8.47180080413824, 52.193901062011719 ], [ 8.446478843689249, 52.212089538574446 ], [ 8.451660156250114, 52.227081298828125 ], [ 8.463559150695858, 52.231010437011832 ], [ 8.457268714904956, 52.234630584716797 ], [ 8.462689399719181, 52.245910644531364 ], [ 8.46874904632574, 52.246009826660156 ], [ 8.459480285644645, 52.301738739013615 ], [ 8.470759391784725, 52.316841125488395 ], [ 8.451699256897086, 52.33140945434593 ], [ 8.443698883056697, 52.364780426025618 ], [ 8.313388824463118, 52.407039642333984 ], [ 8.32489013671875, 52.418411254882812 ], [ 8.324239730834904, 52.429538726806641 ], [ 8.305589675903605, 52.43659973144554 ], [ 8.298259735107592, 52.458709716797102 ], [ 8.347059249877987, 52.455982208252067 ], [ 8.359840393066634, 52.445091247558594 ], [ 8.401990890502987, 52.453330993652344 ], [ 8.432649612426871, 52.450199127197322 ], [ 8.45635890960699, 52.461799621582145 ], [ 8.460728645324991, 52.491649627685661 ], [ 8.50821876525896, 52.514888763427962 ], [ 8.557799339294661, 52.500930786132926 ], [ 8.653689384460506, 52.532508850097713 ], [ 8.666278839111385, 52.52527999877924 ] ] ] } }
        )
    }

    // load locations
    this.load()

    // generate select options from GEOJSON
    for (var feature of regions.features) {
      const region = {
        id: feature.properties.ID_2,
        name: feature.properties.NAME_2,
        isRegion: true,
      }
      if (this.showRegionNames || this.showRegionBorders) {
        this.options.regions.push(region)
      }
      const children = counties.features.filter((county) => county.properties.ID_2 === region.id).map((county) => {
        var county_name = this.getCountyName(county)
        return {
          id: county.properties.ID_3,
          name: county_name,
          regionId: region.id,
        }
      })
      this.options.regions.push(...children)
    }

    this.selector.results = this.options.regions

    this.map = L.map('location_finder-map')
    this.map.setView(this.center, this.zoom)
    this.map.on('zoomend', this.onZoomChange)

    L.tileLayer(this.url, {
      attribution: this.attribution,
      maxZoom: 18,
      minZoom: 8,
    }).addTo(this.map)

    this.geojsonRegions = L.geoJson(regions, {style: this.geoStyler, onEachFeature: this.onEachRegionFeature})
    this.geojsonRegions.addTo(this.map)

    this.geojson = L.geoJson(counties, {style: this.geoStyler, onEachFeature: this.onEachFeature})
    this.geojson.addTo(this.map)

    this.setupContrastModeSwitching();
  },

  updated() {
    const animatePan = !this.selected
    this.map.invalidateSize(animatePan)
  },

  methods: {

    getCountyName(county) {
       var county_name = county.properties.NAME_3
       if (county.properties.TYPE_3 == 'Landkreise') {
         if (county_name.includes('Ennepe-Ruhr')) {
           county_name = 'Ennepe-Ruhr-Kreis'
         }
         else if (!county_name.toLowerCase().includes('kreis')) {
           county_name = 'Kreis ' + county_name
         }
       }
       else if (county.properties.TYPE_3 == 'Stadt Kreisfreie' && county_name.startsWith('Stadt ')) {
         county_name = county_name.slice(6)
       }
       return county_name
     },

    async load() {
      const locationFinderId = this.$el.parentElement.getAttribute('data-location-finder-id')
      const response = await fetch(`/location-finder/places/${locationFinderId}/`)
      this.locations = await response.json()

      for (var location of this.locations) {
        const latLng = L.latLng([location.latitude, location.longitude])
        this.geojson.eachLayer((l) => {
          if (l.contains(latLng)) {
            location.countyId = l.feature.properties.ID_3
          }
        })
        this.geojsonRegions.eachLayer((l) => {
          if (l.contains(latLng)) {
            location.regionId = l.feature.properties.ID_2
          }
        })
      }

      this.doSearch()
    },

    checkLocationCheckboxFilter(location) {
      return this.form.selectedFilters.length === 0 || this.form.selectedFilters.every(filter => location.checkbox_data[filter]);
    },

    searchFilter(location) {
      const query = (this.form.query || '').toLowerCase()
      if (!query) {
        return true
      }
      const searchableDataArr = [
        location.name || '',
        location.county || '',
        location.district || '',
        ...Object.values(location.sidebar_attributes || {})
      ]

      for (const searchableData of searchableDataArr) {
        if (searchableData.toLowerCase().includes(query)) {
          return true
        }
      }
      return false;
    },

    doSearch() {
      const area = this.form.region
      const query = this.form.query

      this.results = this.locations.filter((location) => {
        return (
          this.checkLocationCheckboxFilter(location) &&
          this.searchFilter(location) &&
          (
            area && ((
              area.isRegion && location.regionId === area.id
            ) || (
              !area.isRegion && location.countyId === area.id
            ))
            || (!area && query)
          )
        )
      })

      // update GeoJSON layers
      this.geojson.eachLayer((l) => {
        const hidden = !(
          area && (
            (area.isRegion && area.id === l.feature.properties.ID_2) || (area.id === l.feature.properties.ID_3)
          ) ||
          !this.showRegionBorders && !area
        )
        l.feature.properties.hidden = hidden
        if (hidden) {
          l.setStyle({
            "color": "rgba(0, 0, 0, 0)",
            "fillColor": "rgba(0, 0, 0, 0)"
          })
        } else {
          l.setStyle({
            "color": "var(--primary-base, 0.2)",
            "fillColor": "rgba(255, 255, 255, 0)"
          })
        }
      })

      this.$nextTick(() => {
        this.updateTooltips()
        this.updateMarkers()
      })

      if (area) {
        this.hideRegions()
      }

      // if empty form, reset map
      if (!area && !query) {
        this.resetMap()
      }

      if (query) {
        if (this.oldQuery === query) {
          // avoid duplicate requests
          return
        }
        this.oldQuery = query
        fetch(`https://nominatim.openstreetmap.org/search.php?format=json&q=${query}, Germany`)
          .then((response) => response.json())
          .then((result) => {
            if (result.length) {
              const latLng = L.latLng([result[0].lat, result[0].lon])
              this.map.setView(latLng, 10)
              this.results = this.results
                .map((location) => {
                  const distance = latLng.distanceTo(L.latLng([location.latitude, location.longitude]))
                  location.distance = distance
                  return location
                })
                .sort((a, b) => a.distance - b.distance)

              this.geojson.eachLayer((l) => {
                if (l.contains(latLng)) {
                  this.form.region = {
                    id: l.feature.properties.ID_3,
                    name: l.feature.properties.NAME_3,
                    regionId: l.feature.properties.ID_2
                  }
                }
              })
            }
          })
      }
    },

    toggleSelector() {
      this.selector.isOpen = !this.selector.isOpen
      if (this.selector.isOpen) {
        this.$nextTick(() => {
          this.$refs.regionQuery.focus()
        })
      }
    },

    onSelectorOutsideClick() {
      this.selector.isOpen = false
    },

    selectRegion(region) {
      this.form.region = region
      if (region.isRegion) {
        this.geojsonRegions.eachLayer((l) => {
          if (l.feature.properties.ID_2 === region.id) {
            this.map.fitBounds(l.getBounds())
          }
        })
      } else {
        this.geojson.eachLayer((l) => {
          if (l.feature.properties.ID_3 === region.id) {
            this.map.fitBounds(l.getBounds())
          }
        })
      }
      this.selector.isOpen = false
      this.selector.query = ''
    },

    geoStyler(feature, layer) {
      // hide country borders if no region is selected or if region borders are disabled and it's a region area
      if (feature.properties.hidden || (!this.showRegionBorders && !feature.properties.ID_3)) {
        return {
          "color": "rgba(0, 0, 0, 0)",
          "fillColor": "rgba(0, 0, 0, 0)"
        }
      }
      return {
        "color": "var(--primary-base, 0.2)",
        "fillColor": "rgba(255, 255, 255, 0)"
      }
    },

    updateMarkers() {
      if (this.markerGroup) {
        this.markerGroup.remove()
      }

      if (this.form.region || this.form.query) {
        var locations = this.results;
      } else {
        var locations = this.locations;
      }

      this.markerGroup = L.markerClusterGroup(
        {
          spiderfyOnMaxZoom: false,
          showCoverageOnHover: false,
          zoomToBoundsOnClick: true,
          maxClusterRadius: function (mapZoom) {
            if (mapZoom > 10) {
             return 20;
            } else {
              return 100;
            };
          },
          iconCreateFunction: function(cluster) {
            return L.divIcon({ html: cluster.getChildCount(), className: 'marker-cluster' });
          }
        }
      )

      for (const location of locations) {
        const icon = (this.selected === location) ? this.iconSelected : this.icon;
        const marker = L.marker([location.latitude, location.longitude], {icon})
        marker.on('mouseover', this.onMarkerOver.bind(this, location))
        marker.on('mouseout', this.onMarkerOut)
        marker.on('click', this.selectLocation.bind(this, location))
        this.markerGroup.addLayer(marker)
      }

      this.map.addLayer(this.markerGroup)
    },

    updateTooltips() {
      const area = this.form.region
      const zoom = this.map.getZoom()

      this.tooltips
        .forEach((tooltip) => {
          const isRegion = !tooltip.feature.properties.ID_3;
          const isCounty = !isRegion;
          const showRegionTooltips = zoom <= 8 && this.showRegionNames;
          const showCountyTooltips = zoom > 8 || !this.showRegionNames;
          if (isRegion && showRegionTooltips || isCounty && showCountyTooltips) {
            tooltip.openTooltip()
          } else {
            tooltip.closeTooltip()
          }
        })
    },

    onEachRegionFeature(feature, layer) {
    //   layer.on({
    //     mouseover: this.highlightFeature,
    //     mouseout: this.resetHighlight,
    //     click: this.onRegionClick
    //   })

      if (this.showRegionNames) {
        const tooltip = layer.bindTooltip(
          String(feature.properties.NAME_2),
          {
            permanent: true,
            direction: "center",
            className: `location_finder-label label-region-${feature.properties.ID_2}`
          }
        )
        tooltip.openTooltip()
        this.tooltips.push(tooltip)
      }
    },

    onEachFeature(feature, layer) {
      layer.on({
        mouseover: this.highlightFeature,
        mouseout: this.resetHighlight,
        click: this.onCountyClick
      })

      var tooltip_name = this.getCountyName(feature)
      const tooltip = layer.bindTooltip(
        tooltip_name,
        {
          permanent: true,
          direction: "center",
          className: `location_finder-label label-county-${feature.properties.ID_3}`
        }
      )
      tooltip.openTooltip()
      this.tooltips.push(tooltip)
	},

    highlightFeature(e) {
      var layer = e.target

      layer.setStyle({
        "fillColor": "var(--primary-base, 0.26)"
      })

      layer.bringToFront()
    },

    resetHighlight(e) {
      if (this.showingRegions) {
        this.geojsonRegions.resetStyle(e.target)
      } else {
        this.geojson.resetStyle(e.target)
      }
    },

    onZoomChange(e) {
      this.updateTooltips()
    },

    onCountyClick(e) {
	  this.map.fitBounds(e.target.getBounds())
      this.form.region = this.options.regions.find((region) => region.id === e.target.feature.properties.ID_3)
	},

    onRegionClick(e) {
      this.map.fitBounds(e.target.getBounds())
      this.form.region = this.options.regions.find((region) => region.id === e.target.feature.properties.ID_2)
    },

    hideRegions() {
      this.showingRegions = false
      this.geojsonRegions.remove()
      this.geojson.addTo(this.map)
    },

    onMarkerOver(location) {
      this.current = location
    },

    onMarkerOut() {
      this.current = null
    },

    selectLocation(location) {
      this.showMobileResults = false
      this.selected = location
      const latLng = L.latLng(location.latitude, location.longitude)
      this.map.setView(latLng, 12)
    },

    closeSidebar() {
      this.selected = null
    },

    toggleMobileResults() {
      this.showMobileResults = !this.showMobileResults
    },

    clearAll() {
      this.form.region = null
      this.form.query = null
      this.resetMap()
    },

    resetMap() {
      this.closeSidebar()
      if (!this.showingRegions) {
        this.geojson.remove()
        this.geojsonRegions.addTo(this.map)
        this.geojson.addTo(this.map)
      }
      this.map.fitBounds(this.geojsonRegions.getBounds())
    },

    setupContrastModeSwitching() {
      const locationFinderPluginElement = $(this.$el.parentElement.getAttribute('data-plugin-selector'));

      $('#kontrast-hoch, #kontrast-normal').on('change', function() {
        if ($('#kontrast-hoch').is(':checked')) {
          locationFinderPluginElement.addClass('contrast-mode');
        } else {
          locationFinderPluginElement.removeClass('contrast-mode');
        }
      });
    }
  },

  watch: {
    'form': {
      handler: function (val, oldVal) {
        if (this.searchTimer) {
          clearTimeout(this.searchTimer)
        }
        this.searchTimer = setTimeout(() => {
          this.doSearch()
        }, 500)
      },
      deep: true
    },
    'selector.query': {
      handler: function (val, oldVal) {
        if (val) {
          this.selector.results = this.options.regions.filter((region) => {
            return region.name.toLowerCase().indexOf(val.toLowerCase()) !== -1
          })
        } else {
          this.selector.results = this.options.regions
        }
      },
    },
    'selected': {
      handler: function() {
        this.updateMarkers()
      }
    }
  }
}
</script>
