// uncomment for working locally (the deployed plugin will inherit the CMS fonts)
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

#location_finderplugin {
  // uncomment these for working locally. The plugin will inherit colors from the parent DjangoCMS theme
//   --primary-base: #00325F;
//   --primary-light: #005493;
//   --primary-lighter: #17A3E4;
//   --secondary-light: #91CAF2;
  --bs-heading-color: var(--primary-base);
}

#location_finderplugin {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  .text-black {
    color: #000 !important;
  }

  .text-strong {
    font-weight: 700;
  }

  a {
    color: var(--primary-base);
  }

  .btn-outline-primary {
    border: 1px solid var(--primary-base);
    border-radius: 0;
    &.active, &:hover {
        background-color: var(--primary-base);
        color: #fff !important;
    }
  }

  p, input, .v-select {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
  }

  .v-select {
    input {
      height: 30px;
    }
    &.vs--open .vs__dropdown-toggle {
      border: 1px solid #000;
    }
    .vs__open-indicator {
      fill: #333;
    }
  }

  .location_finder-container {
    overflow: hidden;
  }

  .location_finder-form {
    display: flex;
    flex-direction: column;

    .checkbox-filter {
      .form-check-input {
          width: 25px;
          height: 25px;
          margin-right: 6px;
      }

      label {
        margin-top: 3px;
      }
    }
  }

  .location_finder-inner {
    height: 700px;
    display: flex;

    .leaflet-marker-pane {
      z-index: 700;
    }

    .location_finder-left {
      width: 30%;
    }
    .location_finder-right {
      z-index: 1;
      width: 70%;
    }
    .leaflet-control-container {
      .leaflet-top.leaflet-left {
        left: auto;
        top: auto;
        right: 8px;
        bottom: 24px;
      }
      .leaflet-control-zoom {
        border: none;
      }
      .leaflet-bar a {
        border: 1px solid var(--primary-base);
        border-radius: 4px;
        margin-bottom: 12px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        height: 34px;
        width: 34px;
      }
    }
    .location_finder-sidebar {
      width: 40%;
      overflow-y: auto;
      position: relative;

      p {
        margin: 0;
        padding: 0.5rem 0;

        a {
          border: none;
        }
      }
      hr {
        border: none;
        border-bottom: 1px solid var(--neutral-base);
        margin: 0;
      }

      p.attribute-other + hr:last-child {
        display: none;
      }
    }
    .location_finder-card {
      border: 1px solid #EDEDED;
      &.no-border-top {
        border-top: none;
      }
      summary {
        cursor: pointer;
        display: list-item;
        font-size: 1.5rem;
        color: var(--primary-base);
      }
      &[open] summary {
        margin-bottom: 1em;
      }
    }
    .location_finder-list {
      overflow-x: hidden;
      overflow-y: scroll;
      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }
    }
    .location_finder-list-item {
      cursor: pointer;
      border-bottom: 1px solid #EDEDED;
      margin-right: 14px;
      &:hover, &.active {
        background-color: #F5F5F5;
      }
      color: var(--primary-base);
      > * p {
        color: var(--primary-light);
      }
    }
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1.5px solid var(--primary-lighter);
  }

  .input-search {
    .search-icon {
      position: absolute;
      right: 8px;
        top: 7px;
      z-index: 99;
    }
    input {
      background: #FFFFFF;
    }
  }

  .input-region {
    position: relative;
    .input-region-icon {
      position: absolute;
      right: 8px;
      top: 10px;
      z-index: 99;
    }
    .input-placeholder {
      cursor: pointer;
      line-height: 18px;
      height: 40px;
      padding: 10px 12px;
      background: #FFFFFF;
      border: 1.5px solid var(--primary-base);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    .selector {
      position: absolute;
      background: #FFFFFF;
      top: 40px;
      width: 100%;
      height: 312px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px;
      gap: 16px;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.16);
      .selector-results {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        .selector-results-item {
          cursor: pointer;
          padding: 4px 8px;
          font-size: 12px;
          width: 90%;
          &.region {
            font-size: 16px;
            font-weight: 700;
            &:not(:first-child) {
              margin-top: 8px;
              padding: 8px;
              border-top: 1px solid #DDDDDD;
            }
          }
        }
      }
    }
  }

  .vs__dropdown-toggle {
    border-radius: 0;
  }

  input {
    border-radius: 0;
    height: 40px;
    border: 1.5px solid var(--primary-base);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .leaflet-tile-loaded {
    filter: grayscale(10) contrast(0.25) brightness(1.75);
  }

  .leaflet-tooltip.location_finder-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    white-space: pre-wrap;
    text-align: center;
    &.label-region-1002 {
      top: 40px;
      left: -30px;
    }
    &.label-region-1003 {
      width: 150px;
    }
  }

  li.vs__dropdown-option {
    padding: 6px 20px;
    .select-option-region {
      font-weight: 700;
      font-size: 1.2em;
      padding-top: 20px;
    }
    &.vs__dropdown-option--highlight {
      background: none;
      color: #E4001A;
    }
  }

  .marker-cluster {
    color: #E4001A;
    font-weight: 700;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 56px !important;
    height: 56px !important;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }

  .location_finder-close-button {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .location_finder-button {
    background: #fff;
    border: 1px solid #E4001A;
    padding: 10px 16px;
    color: #E4001A;
    display: flex;
    align-items: center;
    svg {
      margin-left: 12px;
    }
  }

  &.contrast-mode {
    h1 {
      color: #fff;
    }

    .location_finder-inner {
      .location_finder-left {
        label, a, h2, h3, h4, h5, .text-dark {
          color: #fff !important;
        }

        input, .input-placeholder, .selector-results {
          color: #000;
          background-color: #fff;
        }

        .btn {
          border-color: #fff;

          &:hover {
            color: #000 !important;
            background-color: #fff;
          }
        }

        .location_finder-list-item {
          color: #fff;
          background-color: #000;

          svg path {
            stroke: #fff;
          }

          &:hover, &.active {
            background-color: #fff;
            color: #000;

            p {
              color: #000;
            }

            svg path {
              stroke: #000;
            }
          }
        }
      }

      .location_finder-sidebar {
        a {
          color: #0ff !important;
        }

         .text-black {
           color: #fff !important;
         }
      }

      .leaflet-control {
        a {
          color: #0ff;
          border: 1px solid #0ff;

          &.leaflet-disabled {
            background-color: #fff;
          }

          span {
            color: #0ff;
          }
        }
      }
    }
  }

  &.width-mode-narrow {
    @media (min-width: 1280px) {
      width: 968px;
      margin: auto;
    }
  }
}

@media (max-width: 768px) {
  #location_finderplugin {

    .location_finder-container {

      .location_finder-inner {
        flex-direction: column;
        padding-bottom: 90px;

        .location_finder-left {
          width: 100%;
        }

        .location_finder-right {
          width: 100%;
          flex-grow: 1;
        }

        .location_finder-sidebar {
          position: fixed;
          z-index: 1005;
          background: #fff;
          right: 0;
          bottom: 0;
          left: 0;
          height: 80%;
          width: 100%;

          .location_finder-location_image {
            max-height: 300px;

            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
        }

        .location_finder-mobile-underlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1002;
          background: rgba(0, 0, 0, 0.4);
        }
      }

      .mobile-result-summary {
        position: fixed;
        z-index: 1001;
        bottom: 0;
        left: 0;
        right: 0;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 16px;
      }

      .mobile-result {
        position: fixed;
        z-index: 1003;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background: #FFFFFF;

        h5 {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          color: #333333;
          margin-bottom: 22px;
        }

        .location_finder-close-button {
          top: 20px;
          right: 12px;
        }

        .mobile-result-header {
          padding: 1rem;
          border-bottom: 1px solid #EDEDED;
          dl {
            &:last-child {
              border-bottom: none;
            }
          }
        }

        .mobile-result-list-item {
          cursor: pointer;
          border-bottom: 1px solid #EDEDED;
          &:hover, &.active {
            background-color: #F5F5F5;
          }
        }

      }

    }

  }
}
