{% load static sekizai_tags accessibility_settings %}
{% get_high_contrast as high_contrast_mode %}

{% addtoblock 'css' %}
    <link rel="stylesheet" href="{% static 'location_finder/style.css' %}">
{% endaddtoblock %}

{% addtoblock 'js' %}
    <script defer src="{% static 'location_finder/location_finder.umd.js' %}" data-is-reload-on-page-edit="true"></script>
{% endaddtoblock %}

{% comment %}
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.js"></script>
<!-- <script defer src="{% static 'location_finder/location_finder.umd.js' %}?7" data-is-reload-on-page-edit="true"></script>
<link rel="stylesheet" href="{% static 'location_finder/style.css' %}?7"> -->
{% endcomment %}

<div
    id="location_finderplugin"
    class="location_finderplugin location_finderplugin-{{ instance.id }} {% if high_contrast_mode %}contrast-mode{% endif %} {% if width == 'narrow' %}width-mode-narrow{% endif %}"
    data-location-finder-id="{{ instance.id }}"
    data-checkbox-filters="{{ instance.get_checkbox_filters }}"
    data-plugin-selector=".location_finderplugin-{{ instance.id }}"
    data-title="{{ title }}"
    data-subtitle="{{ subtitle }}"
    data-width-mode="{{ width }}"
    {% if show_district_borders %}
    data-show-district-borders="true"
    {% endif %}
    {% if show_district_names %}
    data-show-district-names="true"
    {% endif %}
    {% if instance.include_district_lippe %}
    data-include-district-lippe="true"
    {% endif %}
></div>
